/dev/knvmap		0660	system	system
/dev/nvmap		0666	system	system
/dev/tegra_avp		0666	media	media
/dev/tegra_rpc		0666	media	media
/dev/tegra_sema		0666	media	media
/dev/tegra_mediaserver	0660	media	media
/dev/imx072		0666	media	camera
/dev/imx072_eeprom 	0666	media	camera
/dev/s5k5bafx		0666	media	camera
/dev/dw9716		0666	media	camera
/dev/tegra_camera	0666	media	camera
/dev/spdif*		0660	system	audio
/dev/mpu		0644	system	system
/dev/nvhdcp0		0660	system	system
/dev/nvhdcp1		0660	system	system
/dev/block/mmcblk0p3	0600	system	system
/dev/block/mmcblk0p7	0660	system	system
/dev/block/mmcblk0p8	0660	system	system
/dev/tegra-crypto       0666    system  system
/dev/device-mapper      0660    system  system
